@media all and (max-device-width: 360px) {
    canvas {
        touch-action: none;
        width: 115%;
        position: relative;
        right: 10%;
    }
    h1 {
        font-size: 2em;
    }
    .logo {
        right: 2em;
    }
    #resDiv,
    #cancelDiv {
        left: 0;
    }
    .deco {
        height: 20em;
        left: 0;
        padding: 0;
    }
    #slideshow,
    .container {
        width: 23.5em;
        border: none;
        overflow: hidden;
        right: 0.3em;
    }
    figure {
        left: 3em;
    }
    #slideshow figure img {
        height: 400px;
        width: 350px;
    }
    figcaption {
        width: 17em;
        bottom: 15em;
        padding: 0 2em;
    }
    .leftNright {
        position: absolute;
        display: flex;
        left: 1.6em;
        height: 25em;
        bottom: 4.5em;
    }
    #left,
    #right {
        padding: 0 8px;
        font-size: 13px;
        border-radius: 0;
        top: 37.7%;
    }
    #right {
        left: 24.6em;
    }
    .playNpause {
        top: 27em;
        left: 0px;
    }
    .carte {
        flex-direction: column;
    }
    #map {
        width: 30em;
        height: 40em;
        position: absolute;
        margin: 0;
        top: 9em;
    }
    .responsiveAside {
        display: flex;
        flex-direction: column;
        width: 18em;
        position: relative;
        top: 2em;
    }
    #aside {
        position: relative;
        top: 6em;
        width: 19.5em;
        height: 30em;
    }
    #greenCross {
        left: 22.5em;
    }
    .canvas_block {
        bottom: 13em;
    }
    #canvasWindow {
        display: flex;
        flex-direction: column;
    }
    #redCross {
        left: 21em;
    }
    #windowReservation {
        left: 0;
        width: 19.5em;
        height: auto;
        top: 41em;
        background-color: white;
    }
    #greenCrossRes {
        left: 24em;
    }
    h4 {
        font-size: 1.3em;
    }
    #cancelReservation {
        left: 10%;
        bottom: 0.8em;
    }
    #timeUpDiv {
        width: 19em;
    }
    footer {
        top: 10em;
    }
}